name: Build

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  wheels:
    uses: ./.github/workflows/_build_wheel.yaml
    secrets: inherit

  twine-check:
    name: Check dist
    needs: [wheels]
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/download-artifact@v7
        with:
          pattern: wheels-*
          path: dist
          merge-multiple: true

      - run: pipx run twine check --strict dist/*

  bin-check:
    name: Check bin
    needs: [wheels]
    runs-on: ${{ matrix.platform.runner }}
    strategy:
      fail-fast: false
      matrix:
        platform:
          - runner: macos-15
          - runner: macos-15-intel
          - runner: ubuntu-24.04
          - runner: ubuntu-24.04-arm
    steps:
      - uses: actions/download-artifact@v7
        with:
          pattern: wheel
          path: dist
          merge-multiple: true

      - run: pip install flex-bin --no-index --find-links ./dist/

      - run: flex --help
      - run: which flex
