name: Release

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  build:
    uses: ./.github/workflows/_build_wheel.yaml

  publish:
    needs: build
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v6
        with:
          name: wheel
          path: dist

      - uses: pypa/gh-action-pypi-publish@release/v1
