name: run pre-commit hooks

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  pre-commit:
    runs-on: ubuntu-slim
    steps:
      - uses: actions/checkout@v6

      - uses: trim21/actions/prek@master
